.App {
  text-align: center;
}

.acordion {
  margin: 50px auto;
  background-color: blue;
  border-radius: 8px;
  padding: 5px 25px;
  width: max-content;

}

h1{
  color: white;
}

.element{
  background-color: white;
  width: 600px;
  text-align: left;
  padding: 5px 8px;
  margin-bottom: 20px;
}

.title-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  color: blue;
  border-radius: 4px;
  border: 2px solid blue;
  background-color: #e2bff6;
  width: max-content;
  height: max-content;
  font-weight: bold;
  cursor: pointer;
}
.title {
  font-weight: bold;
  font-size: 20px;
}